@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
  color-scheme: dark;
  --grey12: #171717;
  --grey11: #202020;
  --grey10: #333333;
  --grey9: #464646;
  --grey8: #696969;
  --grey7: #858585;
  --grey6: #adadad;
  --grey5: #c9c9c9;
  --grey4: #dedede;
  --grey3: #ececec;
  --grey2: #f2f2f2;
  --grey1: #ffffff;
}

body {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
main {
  width: 75px;
  margin-top: 15px;
  margin-right: 15px;
  height: 75px;
  padding: 10px;
  transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
}

/* Hover effect */
main.active {
  width: 330px;
  height: 150px;
}

main {
  div.show {
    opacity: 100;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 500ms;
  }
  
  div.hide {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
}
div.mini {
  background-color: black;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 25px;
  width: 75px;
  height: 75px;
}

div.settings {
  background: white;
  height: 500px;
}

.title {
  color: #FFF;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: .608px;
  margin-top: 8px;
}

.titlebar {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.progress {
  background: rgba(255, 255, 255, 0.20);
  width: 80%;
  height: 8px;
  border-radius: 7px;
}

.timestamp {
  color: rgba(255, 255, 255, 0.60);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: .608px;
}

img {
  width: 55px;
  height: 55px;
  border-radius: 16px;
}

div.artist {
  color: rgba(255, 255, 255, 0.60);
  font-family: 'SF Pro Display', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; 
  letter-spacing: .598px;
  margin-top: -3px;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.titlebar-button:hover {
  background: #5bbec3;
}

.shuffleDot {
  position: absolute;
  top: 100px;
  left: 80px;
  border-radius: 50%;
  background: white;
  height: 4px;
  width: 4px;
}

.repeatDot {
  position: absolute;
  top: 100px;
  left: 188px;
  border-radius: 50%;
  background: white;
  height: 4px;
  width: 4px;
}


#settings {
  background: var(--grey12);
  
  .topBar {
    
    border-bottom: 1px solid  var(--grey10);
    
  }
  .sideBar {
    width: 60px;
    border-right: 1px solid  var(--grey10);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    
    i {
      padding: 5px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      
      &.active {
        background-color: rgba(255, 255, 255, 0.063);
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.097);
      }

    }
  }
  
  .breadcrumb {
    
    .pill {
      border-radius: 5px;
      padding: 3px 8px;
      font-size: 13px;
      font-weight: 600;
      margin: 0 2px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.063);
      
      &:hover {
        cursor: default;
      }
    }
  }
}

